<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>294723346698-60be6c3a1cgftn7lj28vh6ecaa8qnbn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294723346698-60be6c3a1cgftn7lj28vh6ecaa8qnbn9</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_CQaUeucwWA5R__tA2iBYNNUTOS1o6s</string>
	<key>GCM_SENDER_ID</key>
	<string>294723346698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winthan.Dota-2-Heroes-Review</string>
	<key>PROJECT_ID</key>
	<string>dota-2-hero-review</string>
	<key>STORAGE_BUCKET</key>
	<string>dota-2-hero-review.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:294723346698:ios:b21f2f93417bece6</string>
	<key>DATABASE_URL</key>
	<string>https://dota-2-hero-review.firebaseio.com</string>
</dict>
</plist>